body {
  font-family: "Poppins", sans-serif;
  background: #fffdf2;
}

.summary-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}
 
.assessment-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.assessment-link:hover {
  text-decoration: underline;
}
