body {
  font-family: "Poppins", sans-serif;
  background: #fffdf2;
}

.summary-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}
 
.assessment-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.assessment-link:hover {
  text-decoration: underline;
}
body.dark-mode {
  background: #121212 !important;
  color: #f0f0f0 !important;
}

body.dark-mode .summary-box {
  background-color: #1e1e1e !important;
  border-color: #333 !important;
  color: #f0f0f0 !important;
}

body.dark-mode .assessment-link {
  color: #f0f0f0 !important;
}